body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: 700;
    color: #0000;
    text-transform: uppercase;
    background-color: #ffff;
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}

.inner-page {
    color: #000000;
    background-color: #faf7f4;
    background-image: url(../img/pattern-light.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 30px;
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #000000;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #868585;
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}

.main-header {
    margin-bottom: 44px;
}

.main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
}

.main-header-logo {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 371px;
    height: 155px;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 37px;
    background-color: #ffff;
}

.main-navigation-wrapper .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-navigation a {
    display: block;
    padding: 26px 20px;
    color: #000;
}

.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 620px;
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 140px;
}

.user-navigation .login-link {
    position: relative;
    padding-left: 50px;
}


.user-navigation .login-link:hover::before,
.user-navigation .login-link:focus::before,
.user-navigation .login-link:active::before {
    opacity: 1;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #ececec;
}

.site-navigation-current {
    position: relative;
}

.site-navigation-current a:not([href]) {
    background-color: #000000;
}

.site-navigation-current::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 5px;
    background-color: #ffffff;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }
    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.modal {
    display: none;
    position: fixed;
    color: #000000;
    background-color: #ffffff;
    background-image: url(../img/pattern-light.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.modal h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.modal-description {
    margin: 0;
    margin-bottom: 10px;
}

.modal-login {
    top: 120px;
    left: 50%;
    margin-left: -230px;
    padding: 50px 80px;
    width: 300px;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-map {
    top: 50%;
    left: 50%;
    margin-left: -390px;
    margin-top: -287px;
    width: 780px;
    height: 574px;
    border: 7px solid white;
}

.modal-map iframe {
    position: relative;
    z-index: 2;
    border: none;
}

.modal-map img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.modal-close {
    position: absolute;
    top: 0;
    right: -33px;
    width: 19px;
    height: 19px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-show {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.modal-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

.login-form p {
    margin: 0;
    margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 15px;
    padding-right: 40px;
    width: 100%;
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffff;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #858585;
}

.login-icon-user {
    background-image: url("../img/user.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-icon-password {
    background-image: url("../img/lock.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-checkbox:hover,
.login-checkbox:focus {
    color: #858585;
}

.login-form .restore {
    color: #000000;
    text-decoration: underline;
}

.login-form .restore:hover,
.login-form .restore:focus {
    text-decoration: none;
}

.login-form .login-help {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 15px 0;
}

.login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.login-checkbox input[type="checkbox"]+.checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus+.checkbox-indicator {
    border-color: #858585;
    outline: thin dotted;
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 1px;
    width: 16px;
    height: 2px;
    background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked+.checkbox-indicator::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.login-form .button {
    width: 100%;
    margin-right: 0;
}

@keyframes shake {
    0%, 100%                 {transform: translateX(0);}
    10%, 30%, 50% , 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80%       {transform: translateX(10px);}
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}